<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create/Edit expression</title>
</head>
<body>
<div style="text-align: center">

    <button type="button"><a href="/"><b>Return</b></a></button>

    <form method="post" role="form">
        <div class="form-group">
            <p th:if="${expression != null}">
                <span>Id: </span><span th:text="${expression.id}"></span>
            </p>
            <p>
                <span>Value: </span>
                <input style="width: 700px" placeholder="Value" maxlength="255" th:name="value" th:value="${expression != null ? expression.value : ''}"/>
            </p>
            <span th:if="${expression != null}">
                <p><span>Amount of numbers: </span><span th:text="${expression.amountOfNumbers}"></span></p>
                <p><span>Result: </span><span th:text="${expression.result}"></span></p>
            </span>
        </div>

        <button type="submit">Submit</button>
    </form>

    <p class="error-value" style="color: darkred" th:each="error : ${errorList}" th:text="${error}"></p>
</div>
</body>
</html>